<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Mise à jour">
        <setting id="MajAuto" type="bool" label="Mise à jour automatique de xAmAx" default="true" />
        <setting id="MajV" type="number" label="Mise A Jour auto version" default="0" />
        <setting id="default" type="number" label="Démarrage Version" default="0" />
        <setting id="Menu" type="number" label="Menu" default="0" />
        <setting id="DB" type="number" label="Base de donnée Version" default="0" />
        <setting id="Samba" type="number" label="Samba Version" default="0" />
        <setting id="Telecharg" type="number" label="Téléchargement Version" default="0" />
        <setting id="TxtAff" type="number" label="Affichage Texte Version" default="0" />
        <setting id="LSPOpt" type="number" label="Video Version" default="0" />
        <setting id="settings" type="number" label="Parametres Version" default="0" />
        <setting id="vStreamOpt" type="number" label="Options vStream Version" default="0" />
        <setting id="ziptools" type="number" label="Gestion zip Version" default="0" />
        <setting id="Config" type="number" label="Gestion zip Version" default="0" />
        <setting id="Adult" type="bool" label="Afficher le menu Plus" default="false"  visible="false" />
        <setting id="stban" type="bool" label="Afficher le menu PC distant" default="false"  visible="false" />
    </category>
    <category label="Option de vStream">
        <setting id="AjoutNomSite" type="bool" label="Ajouter le nom du site dans le trie des Marques pages" default="false" />
        <setting id="SuprimNomSite" type="bool" label="Supprimer le nom du site dans le trie des Marques pages" default="false" />
    </category>
    <category label="Option chaine TV">
        <setting id="MajtvAuto" type="bool" label="Mise à jour auto de la liste de TV" default="true"/>
        <setting id="CreerBouq" type="bool" label="Création d'une liste de bouquet TV" default="true"/>
    </category>
</settings>
